name: Lean Action CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: extractions/setup-just@v2
      - uses: actions/checkout@v4
      - uses: leanprover/lean-action@v1
        with:
          auto-config: "false"
      - run: just build
